
 $background-color: rgb(218, 170, 14);
$left-backgroundcolor: rgb(127, 236, 55);
$text-color: rgb(255, 255, 255);
$intoText-color: rgb(212, 213, 216);
$btn-color: rgb(170, 240, 113);
$color1: rgb(58, 107, 212);
$color2:rgb(49, 49, 48);

  